@model IEnumerable<WebImageGallery.Models.ImageViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Image Gallery</h1>
    <p class="lead">Upload and share your images.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
<!--    @using (Html.BeginForm("UploadImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">
            <h4>Upload Image</h4>
            <hr />
            <div class="form-group">
                <input type="text" name="description" />
                <div class="col-md-10">
                    <input type="file" name="imageFile" />
                </div>
            </div>
        </div>
        <input type="submit" value="Upload" />
    }-->

    <form action="~/Home/UploadImages"
          class="dropzone"
          id="my-awesome-dropzone"></form>
</div>

@foreach (var item in Model)
{
    <div class="row">
        <img src="@item.Url" style="max-width:300px; height:auto"/>
    </div>
}

